@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body {
  background: linear-gradient(-180deg, #d6dac8, #fbf3d5);
  height: 100%;
}

.home {
  text-align: center;
  color: #160059;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: #d6a99d;    
  cursor: pointer;
  padding-left: 24px;
}

.btn-more {
  
  padding: 12px;
  background-color: #d6a99d;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fbf3d5;
  text-decoration: none;
}

.desc {
  margin-bottom: 40px;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #fbf3d5;
  display: none;
  z-index: 9999;
}

#modal-close-btn {
  background: transparent;
  font-size: 28px;
  border: none;
  color: red;
}

.nav-links-ham {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-links-ham > li {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 1px solid #d6a99d;
  width: 100%;
}

.nav-links-ham > li > a {
  padding-left: 5px;
}

.footer {
  margin-top: 60px;
  background-color: #d6a99d;
  width: 100%;
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.menu-foo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 8px 0px;
  margin-bottom: 8px;
  border-bottom: 1px solid #160059;
}

.container-foo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes char {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding-top: 20px;
    
  }
  
  .hamburger {
    display: block;
  }

  .nav-mobile {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .logo {
    width: 100vw;
    height: auto;
  }

  .logo > img {
    width: 40vw;
  }

  .nav-links {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
  }

  ul > li {
    list-style: none;
    
  }

  ul > li > a {
    text-decoration: none;
  }

  .hero {
    margin: 60px;
    width: 30vw;
    animation: char 3s ease-in-out infinite;
  }

  .logo-footer {
    width: 24vw;
  }

  .footer-menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 30vw;
    justify-content: space-between;
    gap: 5px;
  }

  .contact-footer {
    padding: 8px;
    text-decoration: none;
    background-color: #fbf3d5;
    border-radius: 5px;
    
  }
  .sosmed-foo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
  }
  
}