@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body {
  background: linear-gradient(-180deg, #d6dac8, #fbf3d5);

}

.home {
  text-align: center;
  color: #160059;
}

img {
  width: 70px;
  height: auto;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: #d6a99d;    
  cursor: pointer;
}

.btn-more {
  margin-top: 20px;
  padding: 12px;
  background-color: #d6a99d;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fbf3d5;
  
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #fbf3d5;
  display: none;
  z-index: 9999;
}

#modal-close-btn {
  background: transparent;
  font-size: 28px;
  border: none;
  color: red;
}

.nav-links-ham {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links-ham > li {
  padding: 10px;
}

@keyframes char {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 20px;
    
  }
  
  .hamburger {
    display: block;
  }

  .nav-mobile {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .logo {
    width: 80vw;
  }

  .logo > img {
    width: 40vw;
  }

  .nav-links {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
  }

  ul > li {
    list-style: none;
    
  }

  ul > li > a {
    text-decoration: none;
  }

  .hero {
    margin: 60px;
    width: 30vw;
    animation: char 3s ease-in-out infinite;
  }

  
}