@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  background-image: url('assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;

}

.header {
  padding: 20px 60px;
  margin-bottom: 10vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EABB70;
  height: 100vh;
  padding: 0 20px;
}

.home>h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home>p {
  font-size: 1.5rem;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #EABB70;
  height: 100vh;
  padding: 100px;
  gap: 10vw;
}

.about-content>h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-content>p {
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: #EABB70;
  cursor: pointer;
  padding-left: 24px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo>a>img {
  width: 18vw;
}

.logo:hover {
  transform: translateY(5px);
  cursor: pointer;
}

.hero {
  animation: char 3s ease-in-out infinite;
  width: 20vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.nav-links>li {
  list-style: none;
}

.nav-links>li:hover {
  transform: translateY(5px);

}

.nav-links>li:not(:last-child)>a {
  text-decoration: none;
  color: #EABB70;
  font-size: 18px;
}

.nav-links>li:not(:last-child)>a:hover {
  color: #faa7d1;
}


.footer-menu>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
}

.footer-menu>ul>li {
  list-style: none;

}

.footer-menu>ul>li:hover {
  transform: translateY(3px);
}

.footer-menu>ul>li>a {
  text-decoration: none;
  color: #312B8E;
}

.contact-btn a {
  background-color: #EABB70;
  padding: 16px;
  display: flex;
  align-items: center;
  color: #312B8E;
  text-decoration: none;
  border-radius: 5px;
}

.contact-btn:hover {
  background-color: #daa147;
  border-radius: 5px;
}

.btn-more {
  padding: 20px;
  background-color: #EABB70;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #312B8E;
  text-decoration: none;
}

.btn-more:hover {
  background-color: #daa147;
  transform: translateY(8px);
}

.desc {
  margin-bottom: 40px;
}

.desc>a {
  text-decoration: none;
  font-weight: bold;
  color: #faa7d1;
}

.about-content {
  text-align: left;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: #fbf3d5;
  display: none;
  z-index: 9999;
}

#modal-close-btn {
  background: transparent;
  font-size: 28px;
  border: none;
  color: red;
}

.nav-mobile>li {
  list-style: none;
}

.nav-links-ham {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-links-ham>li {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  border-bottom: 1px solid #d6a99d;
  width: 100%;
}

.nav-links-ham>li>a {
  padding-left: 5px;
}

.footer {
  margin-top: 20vh;
  background-color: #EABB70;
  width: 100vw;
  padding: 10px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

}

.logo-footer {
  width: 12vw;
}

.contact-footer {
  padding: 8px;
  text-decoration: none;
  background-color: #fbf3d5;
  border-radius: 5px;
  color: #312B8E;
}

.sosmed-foo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.sosmed-foo>a {
  color: #312B8E;
}

.sosmed-foo>a:hover {
  transform: translateY(3px);
}

.skill-logo {
  width: 5vw;
  object-fit: contain;
  margin-bottom: 10px;
}

.project-logo {
  width: 36vw;
  object-fit: contain;
  margin-bottom: 10px;
}

.project-link {
  text-decoration: none;
}

.project-link:hover {
  transform: translateY(8px);
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  color: #EABB70;
}

.skills-content>h1 {
  font-size: 3rem;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding: 0px 60px;

}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #faa7d1;
  width: 12vw;
  height: 24vh;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #EABB70;
  color: #312B8E;
  text-align: center;
  font-size: 12px;
}

.card-container:hover {
  transform: translateY(8px);
}

.card-project {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #faa7d1;
  width: 40vw;
  height: fit-content;
  border-radius: 12px;
  padding: 30px;
  border: 1px solid #EABB70;
  color: #312B8E;
  text-align: center;
  font-size: 12px;
}

.card-project>h2 {
  margin: 20px;
}

.card-project>p {
  margin-bottom: 20px;
}

.techstacks>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 36vw;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.techstacks>ul>li {
  list-style: none;
  background-color: #EABB70;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #312B8E
}

.copyright {
  font-size: 18px;
  color: #312B8E;
}

.menu-foo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 12px 0px;

  margin-bottom: 8px;
  border-bottom: 1px solid #312B8E;
}


.footer-menu>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 24vw;
  justify-content: space-between;
  gap: 12px;
}

.container-foo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes char {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 30px 60px;
  }

  .card-container {
    width: 20vw;
  }

  .skill-logo {
    width: 8vw;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .techstacks>ul {
    width: 40vw;
  }

  .techstacks>ul>li {
    padding: 6px 12px;
  }

  .footer-menu>ul {
    width: 30vw;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding-top: 20px;
    overflow-x: hidden;
    margin: 0;
  }

  .header {
    padding: 0;
    margin-bottom: 0vh;
    margin: 0;
  }

  .home>h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .home>p {
    font-size: 1rem;
  }

  .hamburger {
    display: block;
  }

  .nav-links-ham>li>a {
    text-decoration: none;
  }

  .nav-mobile {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .copyright>p {
    font-size: 12px;
    color: #312B8E;
  }

  .logo>a>img {
    width: 50vw;
  }

  .about-content>h1 {
    font-size: 2rem;

  }

  .about-content>p {
    font-size: 1rem;
  }

  .nav-links {
    display: none;
  }

  .about {
    padding: 40px;
    gap: 10px;
  }

  .skills-content>h1 {
    font-size: 2rem;
    margin-top: 7vh;
  }

  .skill-logo {
    width: 15vw;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .card-container {
    width: 38vw;
    height: 20vh;
    border: 1px solid #EABB70;
    color: #312B8E;
    text-align: center;
    font-size: 10px;
  }

  .btn-more {
    padding: 16px;
    font-size: 12px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;

  }

  .card-project {
    width: 85vw;
    font-size: 10px;
  }

  .project-logo {
    width: 70vw;
    margin-bottom: 5px;
  }

  .techstacks>ul {
    width: 75vw;
  }

  .techstacks>ul>li {
    padding: 6px 12px;
  }

  .hero {
    margin-top: 60px;
    width: 30vw;
    animation: char 3s ease-in-out infinite;
  }

  .logo-footer {
    width: 24vw;
  }

  .footer {
    width: 100vw;
    padding: 20px;

  }

  .footer-menu>ul {
    width: 30vw;
    gap: 5px;
  }

  .contact-footer {
    border-radius: 5px;

  }

  .sosmed-foo {
    gap: 10px;
  }

}